*{
    font-size: 11pt; font-family: Calibri;
    padding: 0;
}

table {

    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    /*border: black solid 1px;*/
}
td, th, tr {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
    text-align: center;
}
th {
    background: #b0e0e6; /* Цвет фона */
}


.tt{
    width: 100%;
}

.tt td{
    width: 10%;
        margin: 0;
    padding: 0;
}
.ttt{
    width: 100%;
}
.ttt td{
    width: 16%;
    margin: 0;
    padding: 0;
}

.r_header{
    font-size: 14pt;
    
}
.r_norm{
     font-size: 12pt;
}
.r_bold{

	font-weight: bold;
}

.r_small{
     font-size: 9pt;
 }
.r_poco{
    font-size: 10pt;
}
.r_rassil{
    font-size: 10pt;
}


.bf{
    border: black solid 2px;
}

.bu{
    border-top: black solid 2px;
}

.bl{
    border-left: black solid 2px;
}

.br{
    border-right: black solid 2px;
}

.bb{
    border-bottom: black solid 2px;
}

